[submodule "capstone"]
	path = capstone
	url = https://github.com/davenpcj5542009/capstone.git
[submodule "frida-gum"]
	path = frida-gum
	url = https://github.com/davenpcj5542009/frida-gum.git
[submodule "frida-core"]
	path = frida-core
	url = https://github.com/davenpcj5542009/frida-core.git
[submodule "frida-python"]
	path = frida-python
	url = https://github.com/davenpcj5542009/frida-python.git
[submodule "frida-node"]
	path = frida-node
	url = https://github.com/davenpcj5542009/frida-node.git
[submodule "frida-swift"]
	path = frida-swift
	url = https://github.com/davenpcj5542009/frida-swift.git
[submodule "frida-clr"]
	path = frida-clr
	url = https://github.com/davenpcj5542009/frida-clr.git
[submodule "frida-qml"]
	path = frida-qml
	url = https://github.com/davenpcj5542009/frida-qml.git
[submodule "releng/meson"]
	path = releng/meson
	url = https://github.com/davenpcj5542009/meson.git
[submodule "frida-tools"]
	path = frida-tools
	url = https://github.com/davenpcj5542009/frida-tools.git
